body {
    margin: 0 auto;
    background-color: rgb(244, 118, 213);
}

.boite {
    height: 11vh;
    width: 18vh;
    background-color: aqua;
    background:center url(../img/siamois.jpg);
    /* 
    background-image: url(https://monImage.fr);
    */
    padding: 15px; 
    margin: 30px;
    border: 5px double rgb(255, 255, 255); /*taille, style, couleur de la bordure*/
    float: left;
    transform: margin;
    transition-duration: 500ms;
}

.boite:hover {
    filter: grayscale(100%);
    height: 20vh;
    width: 30vh;
}